# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the owners for the CICD makefile.  They will be
# requested for review when someone opens a pull request.
makefile        @peter-lamanna @jfelten

